steps.md
generated/*
.terraform
infra/terraform.tfstate*
infra/.terraform
infra/.terraform.lock.hcl
infra/generated
.envrc
venv/
.venv/
.env
uv.lock
.python-version
test.sh
./terraform.auto.tfvars
./*.tfvars
terraform.auto.tfvars
